.btn-finally-buy {
    background-color: #3fb95a;
    border-radius: 5px;
    border: 2px solid #ffffff;
    color: white;
    padding: 3px 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-finally-buy:hover {
    background-color: white;
    color: #3fb95a;
    border: 2px solid #3fb95a;
}